html, body, .full-height {
	height: 100%;
}

test {
	text-align: right;
	font-size: 24vh;
	line-height: 1.2em;
}

.test {
	border-bottom: 1vh solid #333;
}

input {
	width: 100%;
	text-align: right;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
}